@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
}

body{
    background: url("imagens/back-phone.jpg") no-repeat center;
    background-size: cover;
}

main{
     background-color: #ffffffab;
     width: 90%;
     margin: auto;
     border-radius: 10px;
     padding: 10px;
     margin-top: 20px;
}

main img{
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}